{
  "origin": {
    "chain": {
      "ws": "", // ws endpoint to make web3 calls
      "anchor": "", // address of the contract where we would commit state root
      "organizationOwner": "" // owner of anchor's organization contract
    },
    "commitInterval": "", // (in minutes) interval in which we want to commit state root
    "confirmations": "" // Minimum no. of block confirmations needed before anchoring the state-root.
  },
  "auxiliary": {
    "chain": {
      "ws": "", // ws endpoint to make web3 calls
      "anchor": "", // address of the contract where we would commit state root
      "organizationOwner": "" // owner of anchor's organization contract
    },
    "commitInterval": "", // (in minutes) interval in which we want to commit state root
    "confirmations": "" // Minimum no. of block confirmations needed before anchoring the state-root.
  }
}